name: Publish

on:
  push:
    tags: ["v*"]

jobs:
  build-test-pack-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        env:
          BGG_AUTH_TOKEN: ${{ secrets.BGG_AUTH_TOKEN }}
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Pack
        run: dotnet pack --configuration Release --no-build

      - name: Publish
        if: startsWith(github.ref, 'refs/tags/v')
        run: dotnet nuget push ./src/BoardGamer.BoardGameGeek/bin/Release/*.nupkg \
             --source https://api.nuget.org/v3/index.json \
             --api-key ${{ secrets.NUGET_API_KEY }}
             --skip-duplicate
