name: Test

on:
  pull_request:
  push:
    branches: ["**"]
    paths:
      - '**/*.cs'
      - '**/*.csproj'
      - '**/*.sln'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        env:
          BGG_AUTH_TOKEN: ${{ secrets.BGG_AUTH_TOKEN }}
        run: dotnet test --configuration Release --no-build --verbosity normal